@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Medium.eot');
    src: local('Rubik Medium'), local('Rubik-Medium'),
        url('../fonts/rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rubik/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/rubik/Rubik-Medium.woff') format('woff'),
        url('../fonts/rubik/Rubik-Medium.ttf') format('truetype'),
        url('../fonts/rubik/Rubik-Medium.svg#Rubik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Bold.eot');
    src: local('Rubik Bold'), local('Rubik-Bold'),
        url('../fonts/rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rubik/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/rubik/Rubik-Bold.woff') format('woff'),
        url('../fonts/rubik/Rubik-Bold.ttf') format('truetype'),
        url('../fonts/rubik/Rubik-Bold.svg#Rubik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Regular.eot');
    src: local('Rubik Regular'), local('Rubik-Regular'),
        url('../fonts/rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rubik/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/rubik/Rubik-Regular.woff') format('woff'),
        url('../fonts/rubik/Rubik-Regular.ttf') format('truetype'),
        url('../fonts/rubik/Rubik-Regular.svg#Rubik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Semibold.eot');
    src: local('Lato Semibold'), local('Lato-Semibold'),
        url('../fonts/lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Semibold.woff2') format('woff2'),
        url('../fonts/lato/Lato-Semibold.woff') format('woff'),
        url('../fonts/lato/Lato-Semibold.ttf') format('truetype'),
        url('../fonts/lato/Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Medium.eot');
    src: local('Lato Medium'), local('Lato-Medium'),
        url('../fonts/lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Medium.woff2') format('woff2'),
        url('../fonts/lato/Lato-Medium.woff') format('woff'),
        url('../fonts/lato/Lato-Medium.ttf') format('truetype'),
        url('../fonts/lato/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/lato/Lato-Regular.woff') format('woff'),
        url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
        url('../fonts/lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
        url('../fonts/lato/Lato-Bold.woff') format('woff'),
        url('../fonts/lato/Lato-Bold.ttf') format('truetype'),
        url('../fonts/lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
